* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    height: 100px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: beige;
    padding: 0 20px;

}

h3 {
    font-size: 3rem;
}

.add-button {
    width: 100px;
    height: 50px;
    border-radius: 8px;
    background-color: #4CAF50;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #45a049;
}

dialog {
    border: black solid 2px; 
    border-radius: 8px; 
    padding: 20px; 
    width: 300px; 
    background-color: white; 
    position: fixed;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 1000; 
}

#book-form {
    display: grid;
    grid-template-columns: 1fr 2fr; 
    gap: 10px; 
}

label {
    font-weight: bold;
    color: black;
}

.dialog-buttons {
    grid-column: span 2;
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

.dialog-buttons button {
    width: 100px;
    height: 40px;
    border-radius: 8px;
    background-color: #45a050;
    border: none;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.dialog-buttons button:hover {
    background-color: #45a049; 
    transform: translateY(-2px); 
}

.dialog-buttons button.cancel-button {
    background-color: #f44336; 
}

.book-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
}

.book-item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 20px;
    width: 200px;
    height: 250px;
    background-color: white;
    position: relative;
}



h4 {
    font-size: 1.2rem;
    margin-bottom: 10px;
    color: #333;
}

.book-item p {
    margin-bottom: 8px;
    color: #555;
}

.book-buttons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    width: 100%;
    position: absolute;
    bottom: 15px;
}

.delete-button, .toggle-button {
    flex: 1;
    padding: 8px;
    height: 100%;
    width: 100%;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.2s;
}

.delete-button {
    background-color: #f44336; 
    color: white;
}

.delete-button:hover {
    background-color: #d32f2f;
    transform: translateY(-2px);
}

.toggle-button {
    background-color: #2196F3;
    color: white;
}

.toggle-button:hover {
    background-color: #1976D2;
    transform: translateY(-2px);
}